<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40751126425-rojoekj7eh2q5se4k9fkn0eor7h1d24d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40751126425-rojoekj7eh2q5se4k9fkn0eor7h1d24d</string>
	<key>API_KEY</key>
	<string>AIzaSyAa3E6Wzuyey7VkA7b3o5WHr9-Ney4rQA4</string>
	<key>GCM_SENDER_ID</key>
	<string>40751126425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>project-2bc13</string>
	<key>STORAGE_BUCKET</key>
	<string>project-2bc13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40751126425:ios:52673741bd7a8a0d96e508</string>
</dict>
</plist>